header {
    min-height: 20vh;
    min-width: 280px;
    background-color: rgba(0, 0, 0, 0.849);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

body {
    box-sizing: border-box;
    background-color: #4CAF50;
    margin: 0;
}

.Nombreweb {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 10px;
}


.icono{
    display: flex;
    width: 50px;
    height: 50px;
    transition: all 3s;
    z-index: 100px;    
}
.icono:hover
{
    animation: moving 1.5s steps(50) 1;
    
}
@keyframes moving {
    0%{
        transform: translate(0px,0px) scale(1);
    }
    50%{
        transform: translate(5px,-10px) scale(1.3);
    }
    100%{
        transform: translate(0px,0px) scale(1);
    }
}

.logo {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    transition: all 3s;

}

.logo:hover {
    transform: scale(1.1) translate(5px, -10px);
}



.cajalogo {
    margin: 10px;

}

h2:hover
{
    animation: moving 1.5s steps(50) 1;
    
}

h2{
    box-shadow: 0px 0px 5px 1px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(87, 127, 26) ;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    width: 250px;
    text-align: center;
    height: 30x;
}

.minicaja {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navegador {
    display: flex;
    flex-direction: column;
}

.contenedorNav {
    min-height: 60vh;
    min-width: 18vh;


}
nav {

    min-height: 17vh;
    min-width: 18vh;

    position: fixed;
}

.nav {
    display: flex;
    cursor: pointer;

    width: 30vh;
    height: 7vh;

    align-items: center;    
    justify-content: center;
    background-color: white;

    font-size: 35px;
    border-radius: 5px;    
    margin-top: 5px;
    color: black;
    padding: 7px;
    transition:all 500ms ease;
    border: 1.5px solid black;
    text-decoration:none;


}

a:hover {
    background-color: #b9aeb0;
}



.aNoticia {
    background-color: green;
    margin: 2px;
    text-align: justify;
    font-family: Arial, Helvetica;
    color:white;

}


main {
    position: static;
    min-height: 60vh;
    display: flex;
}

section {
    margin-top: 8px;
    min-height: 120vh;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}


.contenedornoticia{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: green;
    margin: 10px;
    box-shadow: 0px 0px 5px 1px black;
    max-width: 400px;
    max-height: 350px;

}

.imgnoticia{
 border-radius: 5px;
   max-width:  400px;
    max-height: 300px;
}

a:hover{
    background-color: #b9aeb0;
  
}